* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f1f1f1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.button-container {
    margin-right: 20px;
    border-radius: 160%;
    box-shadow: inset 0 8px 6;
    font-size: 1.8em;
    cursor: pointer;
    color:#343A40;
}

.switch-button{
    display: none;
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

section {
    width: 40%;
    height: 100%;
}

.bloque1 {
    width: 70%;
}

.textArea {
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    font-size: 30px;
    line-height: 48px;
    color: #0A3871;
    border: none;
    background-color: inherit;
    /* Este elimina el resaltado del marco al hacer clic... */
    outline: none;
}

.restricciones {
    width: 70%;
    display: inline-block;
    margin-top: 15px;
    margin-left: 10%;
    font-size: 12px;
    font-weight: 400;
    color: #495057;
}

.exclamation {
    border-radius: 50%;
    color: #e8ecf8;
    padding: 0.35rem 1rem;
    font-size: 15px;
    font-weight: bold;
    background-color: #757882;
}

.btnEncriptar {
    width: 30%;
    height: 55px;
    margin-top: 30px;
    background-color: #0A3871;
    color: #fff;
    border: 2px solid #fff;
}

.btnDesencriptar {
    width: 30%;
    height: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #0A3871;
}

.contendedorBotones {
    text-align: center;
    height: 30%;
}

.btnEncriptar,
.btnDesencriptar {
    border-radius: 24px;
}

.btnEncriptar:hover,
.btnDesencriptar:hover,
.btnCopiar:hover {
    border: 3px solid #0A3871;
}

.bloque2 {
    width: 30%;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 32px;
    margin-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 24px 32px -8px #00000014;
}

.contenedorImagenPanel {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-top: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorH3 {
    width: 100%;
    height: 7%;
    text-align: center;
    color: #343A40;
    font-family: Inter;
    font-size: 24px;
    /* font-weight: 700; */
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 20px;
}

.contenedorParrafo {
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.contenedorResultado p {
    font-size: 24px;
    line-height: 36px;
}

.contenedorResultado {
    width: 100%;
    height: 70%;
    padding: 25px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.textoResultado {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;
}

.contenedorCopiar {
    width: 100%;
    height: 20%;
    position: relative;
    margin-top: 10.5em;
    /* Aquí ajustamos aproximadamente la alinear horizontalmente con los botones del bloque1...*/
}

.btnCopiar {
    width: 65%;
    height: 55px;
    display: block;
    margin: auto;
    border-radius: 24px;
    border: 2px solid #0A3871;
    position: relative;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 2;
}

footer {
    display: flex;
    align-items: center;
    /* Esto centra verticalmente los elementos */
    justify-content: center;
    /* Esto centra horizontalmente los elementos */
    width: 100%;
    height: 30px;
    line-height: 32px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    
}

.LogoGitHub {
    width: 20px;
    margin-left: 10px;
    /* Este es el espacio entre el texto y el icono */
    vertical-align: middle;
    transition: all 1s;
}

.Logolinkendin {
    width: 20px;
    margin-left: 10px;
    /* Este es el espacio entre el texto y el icono */
    vertical-align: middle;
    transition: all 1s;
}

.hide {
    display: none;
}

/* Desde aquí empieza la función de modo oscuro */
.darkMode{
    background-color: #121212;
    color: #f1f1f1;
    transition: all 1s ;
}

.darkMode .textArea{
    color: #f1f1f1;
}

.darkMode .restricciones{
    color: #f1f1f1;
}

.darkMode .bloque2{
    background-color: #151E21;
    transition: all 1s; 
}

.darkMode .textoResultado{
    color: #f1f1f1;
}

.darkMode .contenedorH3{
    color: #f1f1f1;
}

.darkMode #check{
  background-color: #e8ecf8;  
}

.darkMode .fa-sun {
    color: yellow;
    transition: all 1.5s;
}

.darkMode .LogoGitHub {
    content: url('images/github-mark-white.png');
}
/* Hasta aquí termina el modo oscuro */

/* Empizan los estilos para popup de check al copiar texto encriptado... */
#check {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    /* Este es el ancho del círculo */
    height: 60px;
    /* Esta es la altura del círculo */
    border-radius: 50%;
    /*Este es el contenedor circular */
    background-color: #0A3871;
    /* Este es el fondo del círculo */
    display: none;
    /* Esto oculta el contenedor por defecto */
    z-index: 100;
    /*coloco el popup sobre tdosos los elementos html...*/
}

#check-symbol {
    color: limegreen;
    /* Este es el color del símbolo */
    font-size: 50px;
    /* Este es el tamaño del símbolo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Desde aquí empìezan los estilos para smartphones */
@media only screen and (max-width: 767px) {

    .logo {
        width: 75px;
        height: auto;
    }

    main {
        flex-direction: column;
    }

    section {
        width: 100%;
        margin: 10px 0;
    }

    .textArea {
        width: 90%;
        height: 200px;
        font-size: 20px;
        line-height: 28px;
    }

    .bloque1 {
        width: 70%;
    }

    .bloque2 {
        width: 90%;
        margin: auto;
    }

    .contenedorImagenPanel {
        display: none;
    }

    .restricciones {
        width: auto;
        text-align: center;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .btnEncriptar,
    .btnDesencriptar,
    .btnCopiar {
        width: 40%;
        display: block;
        margin-bottom: 10px;
        /* Esto añade espacio entre los botones */
        margin: 10px auto;
    }

    .contenedorH3 {
        margin-top: 15px;
    }

    .contenedorParrafo {
        margin-top: 15px;
    }

    .contenedorCopiar {
        margin-top: auto;
    }

    #check {
        width: 60px; /* Este es el tamaño más pequeño del círculo */
        height: 60px;
        top: 50%; /* Esto ajusta la posición vertical */
    }

    #check-symbol {
        font-size: 40px; /* Este es el tamaño más pequeño del símbolo */
    }

    footer {
        margin-top: 15px;
    }
}

/* Desde aquí comienzan los estilos para las tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bloque1 {
        width: 60%;
    }

    .bloque2 {
        width: 40%;
    }

    .contenedorImagenPanel {
        display: none;
    }

    .restricciones {
        margin-left: 0;
        text-align: center;
    }
}

/* Aquí aplico para resaltar el bloque2 al encriptar 
para que se vea muy bien. */
.resaltado {
    /* Este establece el borde rojo */
    box-shadow: 0px 0px 10px 2px #0A3871;
}